.textBuy {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: $primaryColor;
}

.btn {
    padding: 10px 15px;
    border: solid $tertiaryColor;
    background-color: $secondaryColor;
    color: $tertiaryColor;
}