/* https://fullstack.club.hotmart.com/t/page/y4PLaqwb4x */
/* AJUSTAR RESPONSIVIDADE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
footer {
  background-color: white;
  border: 3px solid black;
  width: 100%;
  height: 5vh;
  font-size: 20px;
}

.content {
  min-height: 90vh;
  background-color: blueviolet;
  padding: 20px;
  flex: 1 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-rows: minmax(80px, auto); */
  grid-template-areas:
    "item1 item2 item3"
    "item4 item4 item4"
    "item5 item5 item6";
  gap: 10px 10px;
}

.item {
  border: 3px solid black;
  background-color: beige;
  font-size: 20px;
}

#item1 {
  grid-area: item1;
}
#item2 {
  grid-area: item2;
}
#item3 {
  grid-area: item3;
}
#item4 {
  grid-area: item4;
}
#item5 {
  grid-area: item5;
}
#item6 {
  grid-area: item6;
}

@media (max-width: 780px) {
  .content {
    grid-template-areas:
      "item1 item1 item1"
      "item1 item2 item2"
      "item3 item3 item3"
      "item4 item4 item4"
      "item5 item5 item6";
  }
}
